<!-- dashboard.component.html -->
<div>
  <div class="dashboard-container">
    <!-- Info Card for Library Overview -->
    <mat-card class="box info-card">
      <mat-card-header>
        <mat-card-title>Library Overview</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Explore the library's collection of books and inventory.</p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color: yellowgreen;" mat-raised-button routerLink="/member-books">Explore Books</button>
      </mat-card-actions>
    </mat-card>

    <!-- Info Card for User Transactions -->
    <mat-card class="box info-card">
      <mat-card-header>
        <mat-card-title>User Transactions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>View and manage your user transactions information.</p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color: yellowgreen;" mat-raised-button routerLink="/transactions">View Transactions</button>
      </mat-card-actions>
    </mat-card>

    <!-- Info Card for User Profile -->
    <mat-card class="box info-card">
      <mat-card-header>
        <mat-card-title>User Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>View and manage your user profile information.</p>
      </mat-card-content>
      <mat-card-actions>
        <button style="background-color: yellowgreen;" mat-raised-button routerLink="/profile">View Profile</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

