<div class="admin-transactions-wrapper" style="width: 87%; margin-left: 4%;">
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
  
      <!-- Transaction ID Column -->
      <ng-container matColumnDef="transactionId">
        <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction._id }}</td>
      </ng-container>
  
      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>User ID</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.user_id }}</td>
      </ng-container>
  
      <!-- Copy ID Column -->
      <ng-container matColumnDef="copyId">
        <th mat-header-cell *matHeaderCellDef>Copy ID</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.copy_id }}</td>
      </ng-container>
  
      <!-- Branch ID Column -->
      <ng-container matColumnDef="branchId">
        <th mat-header-cell *matHeaderCellDef>Branch</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.branch_name }}</td>
      </ng-container>
  
      <!-- Checkout Date Column -->
      <ng-container matColumnDef="checkoutDate">
        <th mat-header-cell *matHeaderCellDef>Checkout Date</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.checkout_date | date }}</td>
      </ng-container>
  
      <!-- Checkin Date Column -->
      <ng-container matColumnDef="checkinDate">
        <th mat-header-cell *matHeaderCellDef>Checkin Date</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.checkin_date ? (transaction.checkin_date | date) : 'Not returned' }}</td>
      </ng-container>
  
      <!-- Late Fee Column -->
      <ng-container matColumnDef="lateFee">
        <th mat-header-cell *matHeaderCellDef>Late Fee</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.late_fee }}</td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let transaction">
          <!-- Add any actions you want for each transaction -->
        </td>
      </ng-container>
  
      <!-- Define the displayed columns -->
      <tr mat-header-row *matHeaderRowDef="['transactionId', 'userId', 'copyId', 'branchId', 'checkoutDate', 'checkinDate', 'lateFee', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['transactionId', 'userId', 'copyId', 'branchId', 'checkoutDate', 'checkinDate', 'lateFee', 'actions']"></tr>
    </table>
  </div>
  