<h2 mat-dialog-title>Add Book</h2>
<div mat-dialog-content>
  <form #addBookForm="ngForm" (ngSubmit)="addBook()">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="ISBN" [(ngModel)]="newBook.isbn" name="isbn" pattern="\d{3}-\d{2}-\d{4}-\d{1}" required />
      <mat-error *ngIf="addBookForm.controls['isbn']?.invalid && addBookForm.controls['isbn'].touched">
        ISBN must have the format "123-45-6789-0".
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Title" [(ngModel)]="newBook.title" name="title" required />
      <mat-error *ngIf="addBookForm.controls['title']?.invalid && addBookForm.controls['title'].touched">
        Title is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Author" [(ngModel)]="newBook.author" name="author" required />
      <mat-error *ngIf="addBookForm.controls['author']?.invalid && addBookForm.controls['author'].touched">
        Author is required.
      </mat-error>
    </mat-form-field>

    <div *ngFor="let copy of newBook.copies; let i = index" style="margin-bottom: 20px;">
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Branch Name" [(ngModel)]="copy.branchName" name="branchName_{{i}}" required>
          <mat-option *ngFor="let branch of branches" [value]="branch.name">{{ branch.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="addBookForm.controls['branchName_' + i]?.invalid && addBookForm.controls['branchName_' + i].touched">
          Branch Name is required.
        </mat-error>
      </mat-form-field>

      <div *ngFor="let copyDetail of copy.copiesDetails; let j = index">
        <mat-form-field style="width: 100%;">
          <input matInput type="number" placeholder="Copy Number" [(ngModel)]="copyDetail.copyNumber" name="copyNumber_{{i}}_{{j}}" required />
          <mat-error *ngIf="addBookForm.controls['copyNumber_' + i + '_' + j]?.invalid && addBookForm.controls['copyNumber_' + i + '_' + j].touched">
            Copy Number is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="copyDetail.status" name="status_{{i}}_{{j}}" required>
            <mat-option value="Available">Available</mat-option>
            <mat-option value="Borrowed">Borrowed</mat-option>
          </mat-select>
          <mat-error *ngIf="addBookForm.controls['status_' + i + '_' + j]?.invalid && addBookForm.controls['status_' + i + '_' + j].touched">
            Status is required.
          </mat-error>
        </mat-form-field>

        <button mat-button type="button" (click)="removeCopyDetail(i, j)">Remove Copy</button>
      </div>

      <button mat-button type="button" (click)="addCopyDetail(i)">Add Another Copy</button>
    </div>

    <button mat-button type="button" (click)="addBranch()">Add Another Branch</button>

    <div mat-dialog-actions style="justify-content: end;">
      <button mat-button (click)="dialogRef.close()">Cancel</button>
      <button mat-button color="primary" type="submit" [disabled]="addBookForm.invalid">Add</button>
    </div>
  </form>
</div>
