<!-- user-profile.component.html -->
<div class="books-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box user-profile-card" *ngIf="userProfile">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <mat-card-title>{{ userProfile?.email || 'NA' }}</mat-card-title>
      <mat-card-subtitle>Member: Active</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="userProfile">
      <div class="user-details">
        <p><strong>User ID:</strong> {{ userProfile?._id || 'N/A' }}</p>
        <p><strong>Role:</strong> {{ userProfile?.role || 'N/A' }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

